.ant-table-column-sorters::after{
    background-color: black !important;
}

.ant-table-wrapper .ant-table-thead >tr>th{
    background: black !important;
    color: white !important;
}

.ant-menu-item-selected{
    background-color: white !important;
}



.ant-menu-light{
    background-color: black !important;
    color: white !important;
    padding-top: 10px !important;
    
}

.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before,.ant-form-item .ant-form-item-explain-error {
    color: #CD5C08 !important;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input{
    border-color: #CD5C08 !important;
}


.ant-tabs >.ant-tabs-nav .ant-tabs-nav-more{
    background-color: white !important;
}

.font-bold{
    font-weight: 100 !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    background-color: black !important;
    border-radius: 5px !important;
    color: white !important;
    padding: 5px !important;
    align-items: center !important;
}

.ant-tabs .ant-tabs-tab{
    padding: 5px !important;
}

@media(min-width:628px){
    .ant-tabs-nav .ant-tabs-nav-wrap{
        align-items: center !important;
        justify-content: center !important;
    }
}

.ant-drawer .ant-drawer-header{
    border-bottom: none !important;
}

.ant-tabs-nav .ant-tabs-nav-wrap{
    /* position: fixed !important; */
    width: 100vw !important;
    /* z-index: 0 !important; */
    /* background:chartreuse !important; */
    border-bottom: none;
    
}

.ant-tabs .ant-tabs-top{
    position: fixed !important;
}

.truncate-link {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px; /* Adjust the max-width as needed */
  }
  